pkgbase = web-researcher-mcp
	pkgdesc = Your AI research assistant that cites real sources and stays honest
	pkgver = 1.37.4
	pkgrel = 1
	url = https://github.com/zoharbabin/web-researcher-mcp
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = web-researcher-mcp
	conflicts = web-researcher-mcp-git
	source_x86_64 = web-researcher-mcp-1.37.4-x86_64.tar.gz::https://github.com/zoharbabin/web-researcher-mcp/releases/download/v1.37.4/web-researcher-mcp_1.37.4_linux_amd64.tar.gz
	sha256sums_x86_64 = 221043403f000a88b2ff24377473551019112b8a2cc50cdd5c0b361a4733d6df
	source_aarch64 = web-researcher-mcp-1.37.4-aarch64.tar.gz::https://github.com/zoharbabin/web-researcher-mcp/releases/download/v1.37.4/web-researcher-mcp_1.37.4_linux_arm64.tar.gz
	sha256sums_aarch64 = 7ab4b1a345915eae2e2a9306246660233b91e92444fb16ee00eeec5142a8be7d

pkgname = web-researcher-mcp
